<div class="container">
  <div class="vertical-center">
    <div class="d-flex justify-content-center">
      <h1>Approve Deny Leave</h1>
    </div><br>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2">
        <div>Employee Id:</div>
        <div>Employee Name:</div>
        <div>Leave Balance:</div>
        <!-- <div>Employee Id: {{ employeeId }}</div>
        <div>Employee Name: {{ employeeName }}</div>
        <div>Leave Balance: {{ leaveBalance }}</div> -->
      </div>
      <div class="col-lg-3">
        <div>{{ leaveDetails.employeeId }}</div>
        <div>{{ leaveDetails.employeeName }}</div>
        <div>{{ leaveDetails.leaveBalance }}</div>
        <!-- <div>{{ test.eno }}</div>
        <div>{{ test.ename }}</div>
        <div>{{ test.esalary }}</div> -->
      </div>
      <div class="col-lg-2">
        <div>Start Date:</div>
        <div>End Date:</div>
        <div>Number of Days:</div>
        <div>Leave Type:</div>
        <div>Reason:</div>
      </div>
      <div class="col-lg-3">
        <div>{{ leaveDetails.startDate }}</div>
        <div>{{ leaveDetails.endDate }}</div>
        <div>{{ leaveDetails.days }}</div>
        <div>{{ leaveDetails.leaveType }}</div>
        <div>{{ leaveDetails.reason }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-2">Comments:</div>
      <div class="col-md-3 form-group">
        <textarea class="form-control z-depth-1" id="comments" rows="3"></textarea>
      </div>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
      <div class="col-md-1.5">
        <button id="approve" class="btn btn-primary" (click)="updateLeaveDetails($event.target.id)">Aprove</button>
      </div>
      <div class="col-md-1">
        <button id="deny" class="btn btn-primary" (click)="updateLeaveDetails($event.target.id)">Deny</button>
      </div>
      <div class="col-md-1.5">
        <button class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </div>
</div>