<h2>My Leave Applicatios Section</h2><br><br>
<div ng-app="myApp" ng-controller="leaveTable">
<table style="width:100%">
  
  <tr>
    <th (click)="sortIt('leaveID')" class="hidden-xs hidden-sm">Leave ID</th>
    <th (click)="sortIt('numDays')"># of days</th>
    <th (click)="sortIt('startDate')">Start Date</th>
    <th (click)="sortIt('endDate')" class="hidden-xs hidden-sm">End Date</th>
    <th (click)="sortIt('leaveType')">Leave Type</th>
    <th (click)="sortIt('leaveStatus')">Status</th>
    <th (click)="sortIt('reasons')">Reason</th>
    <th (click)="sortIt('appliedOn')" class="hidden-xs">Applied On</th>
    <th (click)="sortIt('managerComments')" class="hidden-xs">Manager Comments</th>
  </tr>

  <ng-container *ngFor="let leav of leaveData;index as i" [attr.data-index]="i">
  <tr  (click)="expDetails(leav)" >
    <td class="hidden-xs hidden-sm">{{leav.leaveID}}</td>
    <td>{{leav.numDays}}</td>
    <td>{{leav.startDate | date:'yyyy-MM-dd'}}</td>
    <td class="hidden-xs hidden-sm">{{leav.endDate | date:'yyyy-MM-dd'}}</td>
    <td>{{leav.leaveType}}</td>
    <td>{{leav.leaveStatus}}</td>
    <td>{{leav.reasons}}</td>
    <td class="hidden-xs">{{leav.appliedOn | date:'yyyy-MM-dd'}}</td>
    <td class="hidden-xs">{{leav.managerComments}}</td>
  </tr>
  <ng-container [attr.id]="'undoBtn'+i" *ngIf="leav.showButton" class="editBtn">
    <tr class="visible-xs visible-sm">
      <td colspan="2" id="Xtra">Leave ID: {{leav.leaveID}}</td>
      <td colspan="3" id=Xtra>End Date: {{leav.endDate | date:'yyyy-MM-dd'}}</td>
    </tr>
    <tr class="visible-xs" >
      <td colspan="2" id="Xtra">Applied: {{leav.appliedOn | date:'yyyy-MM-dd'}}</td>
      <td colspan="3" id="Xtra">Manager Comments: {{leav.managerComments}}</td>
    </tr>
  </ng-container>
  </ng-container>
</table>
</div>
<br>
<button (click)="create()" type="button" >New Application</button>

<script data-require="angular-bootstrap@0.12.0" data-semver="0.12.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>