<h2>My Leave Applicatios Section</h2><br><br>
<div ng-app="myApp" ng-controller="leaveTable">
<table style="width:100%">
  
  <tr>
    <th (click)="sortIt('leaveId')" class="hidden-xs hidden-sm">Leave ID</th>
    <th (click)="sortIt('days')"># of days</th>
    <th (click)="sortIt('start')">Start Date</th>
    <th (click)="sortIt('end')" class="hidden-xs hidden-sm">End Date</th>
    <th (click)="sortIt('type')">Leave Type</th>
    <th (click)="sortIt('status')">Status</th>
    <th (click)="sortIt('reason')">Reason</th>
    <th (click)="sortIt('applied')" class="hidden-xs">Applied On</th>
    <th (click)="sortIt('comments')" class="hidden-xs">Manager Comments</th>
  </tr>

  <ng-container *ngFor="let leav of leaveData;index as i" [attr.data-index]="i">
  <tr  (click)="expDetails(leav)" >
    <td class="hidden-xs hidden-sm">{{leav.leaveId}}</td>
    <td>{{leav.days}}</td>
    <td>{{leav.start}}</td>
    <td class="hidden-xs hidden-sm">{{leav.end}}</td>
    <td>{{leav.type}}</td>
    <td>{{leav.status}}</td>
    <td>{{leav.reason}}</td>
    <td class="hidden-xs">{{leav.applied}}</td>
    <td class="hidden-xs">{{leav.comments}}</td>
  </tr>
  <ng-container [attr.id]="'undoBtn'+i" *ngIf="leav.showButton" class="editBtn">
    <tr class="visible-xs visible-sm">
      <td colspan="2" id="Xtra">Leave ID: {{leav.leaveId}}</td>
      <td colspan="3" id=Xtra>End Date: {{leav.end}}</td>
    </tr>
    <tr class="visible-xs" >
      <td colspan="2" id="Xtra">Applied: {{leav.applied}}</td>
      <td colspan="3" id="Xtra">Manager Comments: {{leav.comments}}</td>
    </tr>
  </ng-container>
  </ng-container>
</table>
</div>
<br>
<button (click)="create()" type="button" >New Application</button>
<button (click)="refreshIt()" type="button" >refresh</button>

<script data-require="angular-bootstrap@0.12.0" data-semver="0.12.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>