<div class="container" >
    <div>
      <div>
        <h1>Approve Deny Leave</h1>
      </div><br>
      <div class="row">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-3">
          <table>
            <tr>
              <td><div>Employee Id:</div></td>
              <td><div>{{ leaveDetails.employeeId }}</div></td>
            </tr>
            <tr>
              <td><div>Employee Name:</div></td>
              <td><div>{{ leaveDetails.employeeName }}</div></td>
            </tr>
            <tr>
              <td><div>Leave Balance:</div></td>
              <td><div>{{ leaveDetails.leaveBalance }}</div></td>
            </tr>
          </table>
          <!-- <div>Employee Id: {{ employeeId }}</div>
          <div>Employee Name: {{ employeeName }}</div>
          <div>Leave Balance: {{ leaveBalance }}</div> -->
        </div>
        <div class="col-md-2"></div>
        <div class="col-lg-3">
          <table>
            <tr>
              <td><div>Start Date:</div></td>
              <td><div>{{ leaveDetails.startDate }}</div></td>
            </tr>
            <tr>
              <td><div>End Date:</div></td>
              <td><div>{{ leaveDetails.endDate }}</div></td>
            </tr>
            <tr>
              <td><div>Number of Days:</div></td>
              <td><div>{{ leaveDetails.days }}</div></td>
            </tr>
            <tr>
              <td><div>Leave Type:</div></td>
              <td><div>{{ leaveDetails.leaveType }}</div></td>
            </tr>
            <tr>
              <td><div>Reason:</div></td>
              <td><div>{{ leaveDetails.reason }}</div></td>
            </tr>
          </table>
        </div>
        <div class="col-lg-2"></div>
      </div>

      
      <div class="row">
        <div class="col-lg-2"></div>
          <div class="col-lg-5">
            <table class="comments">
              <tr>
                <td class="comment">Comments:</td>
                <td class="textarea">
                  <textarea class="form-control z-depth-1" id="comments" rows="3" [(ngModel)]="leaveDetails.managerComments"></textarea>
                </td>
              </tr>
            </table>
        </div>
      </div>
      <br>
      
      <table class="buttons">
        <tr>
        <td>
          <button id="approved" class="btn btn-primary" (click)="updateLeaveDetails($event.target.id)">Approve</button>
        </td>
        <td>
          <button id="denied" class="btn btn-primary" (click)="updateLeaveDetails($event.target.id)">Deny</button>
        </td>
        <td>
          <button class="btn btn-primary" [routerLink]="['decision']">Cancel</button>
        </td>
      <tr>
    </table>

    </div>
  </div>