<div style="text-align:center">
  <h2 class="details-title">{{employee.empName}} Details Section
  </h2>
  <div class="emp-details">
    <div>
      <div>
        <div class="info-label">Employee ID:</div><div style="display: inline-flex; ">{{employee.empId}}</div>
      </div>
      <div>
        <div class="info-label">Full Name:</div><div style="display: inline-flex; ">{{employee.empName}}</div>
      </div>
      <div>
        <div class="info-label">Email Address:</div><div style="display: inline-flex; ">{{employee.empMail}}</div>
      </div>
      <div>
        <div class="info-label">Mobile Number:</div><div style="display: inline-flex; ">{{employee.empPhone}}</div>
      </div>
    </div>
    <div >
      <div>
        <div class="info-label">Date Joined:</div><div style="display: inline-flex; ">{{employee.empDoj}}</div>
      </div>
      <div>
        <div class="info-label">Department:</div><div style="display: inline-flex; ">{{employee.empDept}}</div>
      </div>
    </div>
  </div>
  <div>
    <div class="info-label-available">Available Leave Balance:</div><div style="display: inline-flex; ">{{employee.leaveBalance}}</div>
  </div>
</div>