<div style="text-align:center">
  <h1>Employee Dashboard: Sections</h1> <a href="login">Logout</a>
  <table>
    <tr>
      <td><a href="details"><div id="dash">My Details Section</div></a></td>
      <td><a routerLink="/manager/{{empId}}"><div id="dash">My Manager Details Section</div></a></td>
    </tr>
    <tr><td colspan="2"><a href="status"><div id="dash">My Leave Applications Section</div></a></td></tr>
    <tr><td colspan="2"><a href="manager"><div id="dash">My Reporting Employees' Pending Leave Applications Section</div></a></td></tr>
  </table>
</div>
